<!DOCTYPE html>
<html> 
    <head>
        
    </head>
    <body>
        
        <p> you have received a message from the sites contact form, from <% = "#{@name}, #{@email}" </p>
        
    </body>






</html>